In [2]:
import pandas
import os
import json
from sklearn.decomposition import PCA

In [3]:
with open(os.environ['DATADIR']+'/mfp/days.json') as f:
    days = json.load(f)

In [4]:
daily_cals = pandas.json_normalize(days)
daily_cals['Date'] = pandas.to_datetime(daily_cals['Date'])

In [5]:
renpho = pandas.read_csv(os.environ['DATADIR'] + '/renpho/renpho_health_merge.csv')
renpho['Date'] = pandas.to_datetime(renpho['Date'])
renpho.head()

,Time of Measurement,Weight,BMI,Body Fat,Fat-free Body Weight,Subcutaneous Fat,Visceral Fat,Body Water,Skeletal Muscle,Muscle Mass,...,Start,Finish,Active Calories (kcal),Body Fat Percentage (%),Body Mass Index (count),Distance (mi),Flights Climbed (count),Resting Calories (kcal),Steps (count),Weight (lb)
0,"['2', '2', '2020', '', '7:13:25', 'AM']",203.0Lb,30.8,17.8%,167.0Lb,14.5%,12.0,59.3%,53.1%,158.6Lb,...,2020-02-02,03-Feb-2020 00:00,0.0,0.178005,30.799999,0.642597,0.0,2005.0,1714.0,203.0
1,"['2', '1', '2020', '', '7:52:11', 'AM']",199.8Lb,30.3,17.4%,165.0Lb,14.2%,12.0,59.6%,53.4%,156.8Lb,...,2020-02-01,02-Feb-2020 00:00,1136.0,0.174048,30.299999,2.794062,24.0,1986.0,7094.0,199.8
2,"['1', '31', '2020', '', '9:42:03', 'PM']",202.4Lb,30.7,17.7%,166.6Lb,14.5%,12.0,59.4%,53.1%,158.2Lb,...,2020-01-31,01-Feb-2020 00:00,0.0,0.177441,30.700001,6.706318,40.0,2001.0,17121.0,202.4
3,"['1', '31', '2020', '', '5:30:20', 'AM']",200.0Lb,30.3,17.4%,165.0Lb,14.2%,12.0,59.6%,53.3%,156.8Lb,...,2020-01-31,01-Feb-2020 00:00,0.0,0.177441,30.700001,6.706318,40.0,2001.0,17121.0,202.4
4,"['1', '30', '2020', '', '10:31:18', 'PM']",199.2Lb,30.2,17.4%,164.8Lb,14.1%,12.0,59.7%,53.4%,156.4Lb,...,2020-01-30,31-Jan-2020 00:00,0.0,0.175574,30.500000,7.561412,49.0,1983.0,17312.0,201.0

In [7]:
renpho.describe()

,BMI,Visceral Fat,Metabolic Age,Active Calories (kcal),Body Fat Percentage (%),Body Mass Index (count),Distance (mi),Flights Climbed (count),Resting Calories (kcal),Steps (count),Weight (lb)
count,491.000000,477.000000,477.000000,491.000000,491.000000,491.000000,491.000000,491.000000,491.000000,491.000000,491.000000
mean,30.601426,12.289308,26.058700,1155.135133,0.169361,30.158045,6.908256,30.745156,2167.717221,12879.022720,198.953134
std,0.440660,0.489545,0.477116,599.238106,0.036860,4.146588,3.728521,28.959683,216.797242,5958.823383,27.355200
min,29.400000,11.000000,25.000000,0.000000,0.000000,0.000000,0.139475,0.000000,228.460279,382.000000,0.000000
25%,30.300000,12.000000,26.000000,782.000000,0.174612,30.400000,4.442413,8.000000,2122.819061,8753.496719,200.600000
50%,30.600000,12.000000,26.000000,1171.759000,0.177210,30.700001,6.410240,39.000000,2211.644284,12528.000000,202.800000
75%,30.900000,13.000000,26.000000,1466.970500,0.179244,31.000000,9.178708,45.000000,2263.450466,17272.475176,204.368517
max,32.100000,14.000000,28.000000,3669.182560,0.188230,32.099998,27.337439,400.203482,3503.353721,38000.444240,211.974465

In [26]:
rma_merged = renpho.merge(daily_cals, left_on='Date',right_on='Date')
rma_merged.to_csv(os.environ['DATADIR'] + '/joined/fullhealth.csv')

In [9]:
rma_merged.describe()

,BMI,Visceral Fat,Metabolic Age,Active Calories (kcal),Body Fat Percentage (%),Body Mass Index (count),Distance (mi),Flights Climbed (count),Resting Calories (kcal),Steps (count),...,Dinner.fat,Dinner.protein,Dinner.sodium,Dinner.sugar,Snacks.calories,Snacks.carbohydrates,Snacks.fat,Snacks.protein,Snacks.sodium,Snacks.sugar
count,490.000000,476.000000,476.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,...,409.000000,409.000000,409.000000,409.000000,22.000000,22.000000,22.000000,22.000000,22.000000,22.000000
mean,30.601020,12.289916,26.056723,1157.492552,0.169343,30.156735,6.921043,30.807901,2168.049297,12901.808480,...,67.124694,74.303178,2138.376528,33.577017,671.954545,73.181818,21.272727,9.681818,640.227273,28.954545
std,0.441019,0.489880,0.475657,597.567034,0.036896,4.150724,3.721538,28.955851,216.893765,5943.462349,...,41.550307,40.558672,1820.611776,37.033432,473.179366,61.766562,28.232338,12.718140,818.715366,32.482196
min,29.400000,11.000000,25.000000,0.000000,0.000000,0.000000,0.139475,0.000000,228.460279,382.000000,...,0.000000,0.000000,0.000000,0.000000,160.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.300000,12.000000,26.000000,784.333500,0.174612,30.400000,4.454139,8.000000,2123.256671,8799.995078,...,31.000000,43.000000,783.000000,8.000000,190.000000,9.000000,9.250000,5.000000,85.000000,2.000000
50%,30.600000,12.000000,26.000000,1171.759000,0.177210,30.700001,6.411518,39.000000,2212.077396,12528.000000,...,74.000000,70.000000,1614.000000,21.000000,730.000000,57.500000,13.000000,5.000000,200.000000,18.000000
75%,30.900000,13.000000,26.000000,1467.082750,0.179244,31.000000,9.178708,45.000000,2263.916339,17272.475176,...,96.000000,104.000000,3205.000000,47.000000,815.000000,135.000000,14.750000,7.750000,900.000000,46.500000
max,32.100000,14.000000,28.000000,3669.182560,0.188230,32.099998,27.337439,400.203482,3503.353721,38000.444240,...,203.000000,192.000000,8485.000000,208.000000,1700.000000,152.000000,106.000000,56.000000,2720.000000,106.000000

In [37]:
select_features = pandas.DataFrame()
select_features['date'] = rma_merged['Date']
select_features['weight'] = rma_merged['Weight'].apply(lambda x: float(x.replace("Lb","")))
select_features['cal_out'] = rma_merged['Active Calories (kcal)'] + rma_merged['Resting Calories (kcal)']
select_features['cal_in'] = rma_merged['Breakfast.calories'].fillna(0) + rma_merged['Lunch.calories'].fillna(0) + rma_merged['Dinner.calories'].fillna(0) + rma_merged['Snacks.calories'].fillna(0)
select_features['carbohydrates'] = rma_merged['Breakfast.carbohydrates'].fillna(0) + rma_merged['Lunch.carbohydrates'].fillna(0) + rma_merged['Dinner.carbohydrates'].fillna(0) + rma_merged['Snacks.carbohydrates'].fillna(0)
select_features['protein'] = rma_merged['Breakfast.protein'].fillna(0) + rma_merged['Lunch.protein'].fillna(0) + rma_merged['Dinner.protein'].fillna(0) + rma_merged['Snacks.protein'].fillna(0)
select_features['fat'] = rma_merged['Breakfast.fat'].fillna(0) + rma_merged['Lunch.fat'].fillna(0) + rma_merged['Dinner.fat'].fillna(0) + rma_merged['Snacks.fat'].fillna(0)

select_features['cal_net'] = select_features['cal_in'] - select_features['cal_out']

In [38]:
select_features.describe()

,weight,cal_out,cal_in,carbohydrates,protein,fat,cal_net
count,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000,490.000000
mean,201.879184,3325.541849,3283.169388,320.977551,145.508163,146.595918,-42.372461
std,2.907591,706.707196,1146.655946,130.290981,50.505592,55.140386,1345.240022
min,193.800000,228.460279,0.000000,0.000000,0.000000,0.000000,-4100.221144
25%,199.850000,2967.287880,2457.000000,232.250000,107.250000,107.250000,-962.390184
50%,202.000000,3386.491831,3192.000000,308.000000,144.000000,142.500000,-93.514807
75%,203.750000,3676.570026,4060.000000,396.250000,181.000000,182.000000,737.000000
max,212.000000,5287.163236,6760.000000,803.000000,278.000000,310.000000,4232.441442

In [39]:
select_features.corr()

,weight,cal_out,cal_in,carbohydrates,protein,fat,cal_net
weight,1.000000,-0.156813,-0.059677,-0.009813,-0.092956,-0.094663,0.031513
cal_out,-0.156813,1.000000,0.002829,-0.015850,0.036053,0.010254,-0.522928
cal_in,-0.059677,0.002829,1.000000,0.896460,0.716115,0.880938,0.850894
carbohydrates,-0.009813,-0.015850,0.896460,1.000000,0.551675,0.673575,0.772451
protein,-0.092956,0.036053,0.716115,0.551675,1.000000,0.674130,0.591462
fat,-0.094663,0.010254,0.880938,0.673575,0.674130,1.000000,0.745508
cal_net,0.031513,-0.522928,0.850894,0.772451,0.591462,0.745508,1.000000

In [40]:
pca = PCA(n_components=2)
X = select_features.loc[:, select_features.columns != 'date']
pca.fit(X)
pandas.DataFrame(pca.components_)

          0         1         2         3         4         5         6
0  0.000007 -0.154146  0.615501  0.063282  0.019033  0.025969  0.769647
1  0.000595 -0.800965 -0.531141 -0.051603 -0.018692 -0.022947  0.269825