In [4]:
import pandas
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [2]:
col_names = ['Alcohol','Malic acid','Ash','Alcalinity_of_ash','Magnesium','Total_phenols','Flavanoids','Nonflavanoid_phenols','Proanthocyanins','Color_intensity','Hue','OD280/OD315_of_diluted_wines','Proline']

wine = pandas.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",
    header=None,
    names=col_names,
    index_col=False,
)
X = wine.loc[:, wine.columns != 'Alcohol']
y = wine['Alcohol']
train_X, test_X, train_y, test_y = train_test_split(X, y)

In [3]:
xg_class = xgb.XGBClassifier(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 3)
xg_class.fit(train_X,train_y)
xg_class.score(test_X,test_y)

0.9333333333333333

In [6]:
pca = PCA(n_components=3)
pca.fit(wine)
pandas.DataFrame(pca.components_)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,-0.011508,0.015677,-0.004353,0.005479,-0.020824,0.998822,0.009525,0.013882,-0.002247,0.009550,0.033198,0.000883,0.003327
1,0.133226,-0.064370,0.116292,0.036577,0.963219,0.023457,-0.069890,-0.125390,0.014088,-0.039481,0.077413,-0.023783,-0.077344
2,0.105462,0.184347,0.150841,0.013717,-0.127944,-0.031984,-0.040487,-0.115195,0.010261,-0.030557,0.934664,-0.054228,-0.148578